
<!--newページから-->
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
<%= form_with(model: @group, local: true) do |f| %>
<h1>Create Group</h1>
  <div class="group-new-form">
    <div class="gtoup-new-form-name">
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name, class: 'form-control mb-3' %>
      <%= f.label :introduction, '紹介文'%>
      <%= f.text_area :introduction, class: 'form-control mb-3' %>
      <%= f.file_field :group_image, class: 'form-control-file mb-3' %>

    </div>
    <%= f.submit '新規作成', class: "btn btn-primary" %>
  </div>
<% end %>
    </div>
  </div>
</div>